.App {
  margin: 0 auto;
  width: 70%;
}

.App-logo {
  background-color: #000;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  margin: 0 auto;
  display:inline-block;
  float: left;
}

.App-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.App-header {
  height: 100px;
  padding: 20px 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
