.App {
  text-align: center;
}

.App-logo {
  background-color: #000;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  margin: 0 auto;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
