.Header-logo {
  background-color: #000;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  margin: 0 auto;
  display:inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.Header-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 0;
    letter-spacing: .1em;
}

nav {
  float: right;
  padding: 2em 0;
}

.Header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.Header {
  height: 100px;
  padding: 10px 0;
  margin: 0 0 50px 0;
  border-bottom: 1px solid;
}
