.Header-logo {
  background-color: #000;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  margin: 0 auto;
  display:inline-block;
  float: left;
  font-family: 'Kaushan Script', cursive;
}

.Header-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 0;
    letter-spacing: .1em;
}

.Header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.Header-header {
  height: 100px;
  padding: 20px 0;
}
