.Header-logo {
  background-color: #45443C;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  margin: 0 auto;
  /*display:inline-block;*/
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.Header-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
    padding: 0;
    letter-spacing: .1em;
}

.Header-logo:hover {
  background-color: #E6AB30;
}

.Header {
  /*height: 125px;*/
  padding: 10px 0;
  margin: 0 0 1.25em 0;
  border-bottom: 1px solid;
}

a .fa {
  color: #45443C;
}

a:hover .fa {
  color: #238D6E;
}

.right-header {
  /*float:right;*/
}

.nav-menu {
}

.nav-menu,
.mobile-nav {
  /*float:right;*/
  text-transform: uppercase;
  font-weight: 200;
}

.nav-menu a,
.mobile-nav a {
  color: #FFF;
}

.mobile-nav {
  text-align: center;
  margin: 0 0px 10px 0px;
  font-size: 1.5em;
}

.mobile-nav ul {
    padding: 20px;
    right: 30px;
    line-height: 2em;
    margin: 0;
}

.mobile-nav ul li {
  list-style: none;
  background-color: #238D6E;
  margin: 5px 0;
}

.mobile-nav p {
  margin: 10px 0 -20px 0;
}

.social-icons {
  font-size: 1.5em;
  margin: 30px 0 0px 0;
  text-align: center;
}

.social-icons .fa {
  margin: 0 20px 20px 20px;
}


@media (min-width: 60rem) {

  .nav-menu a:hover{
    text-decoration: none;
    color: #60BFA4;
  }

  .nav-menu li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
  }
}
