*, *:before, *:after {
  box-sizing: border-box;
}

.display-none {
  display: none;
}
/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.5em;
}

h2 {
  font-weight: 700;
}

.head-line {
    width: 30%;
    border: 5px solid #000;
    margin: 1em 0 3em 0px;
}

.project-home img{
  grid-area: sidebar;
}

.project-description {
  grid-column: col 2 / span 3 ;
  grid-row: row 2 ;
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  margin: 2em 0 0 0;
}

@media (min-width: 60rem) {
  .project-wrap {
    text-align: left;
  }

  .project-wrap img,
  .project-wrap div {
    width: 45%;
    float: left
  }

  .project-wrap div {
    margin: 0 0 0 5%;
    width: 45%;
  }

  #wrap {
    display: block;
  }
}
