*, *:before, *:after {
  box-sizing: border-box;
}

.display-none {
  display: none;
}
/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #45443C;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.5em;
}

h2 {
  font-weight: 700;
}

button {
  background-color: #238D6E!important;
}

button:hover {
  background-color: #60BFA4!important;
}

.home-style button {
  background-color: #E1DDC2!important;
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
  height: 2em;
  text-transform: uppercase;
}

.home-style a{
  color: #45443C;
}

.home-style button:hover {
  background-color: #45443C!important;
  color: #E1DDC2!important;
}

.home-style a:hover{
  color: #E1DDC2!important;
  text-decoration: none;
}

.home-style {
  background-color: #E6AB30;
  padding: 10% 10%;
}

.home-style p {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 300;
}

.head-line {
    width: 30%;
    border: 5px solid #45443C;
    margin: 1em 0 3em 0px;
}

.project-home img{
  grid-area: sidebar;
}

.all-project-wrap {
  text-align: center;
  background-color: #45443C;
  margin: 0 0 20px 0;
  display: inline-block;
}


.all-project-wrap:after{
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

.all-project-description {
  padding: 10px;
  color: #E1DDC2;
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  margin: 2em 0 0 0;
  display: block;
}

input.input-lg {
  margin: 10px 0;
  padding: 20px 10px;
}

textarea {
  margin: 10px 0;
}

@media (min-width: 60rem) {
  .all-project-wrap-group {
    display: -webkit-flex;
    display: flex;
  }

  .all-project-description {
    padding: 20px 0 0 0;
  }

  .all-project-wrap {
    margin: 0 10px;
  }

  .all-project-wrap p {
    font-size: .75em;
  }

  .project-wrap {
    text-align: left;
  }

  .project-wrap img,
  .project-wrap div {
    float: left;
    width: 45%;
    margin: 0 10px;
  }

  form {
    width: 45%!important;
    float: right;
  }

  .contact-description {
    width: 45%;
    float:left;
    margin: 0;
  }

  #wrap {
    display: block;
  }
}
