*, *:before, *:after {
  box-sizing: border-box;
}

.display-none {
  display: none;
}
/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #45443C;
}

div {
  line-height: 1.75em;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  margin: 0 0 .25em 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 0 0 .75em 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fa {
  font-size: 1.75em;
  margin: 0 10px;
}


button,
input[type="submit"] {
  background-color: #238D6E!important;
}

button:hover,
input[type="submit"]:hover {
  background-color: #60BFA4!important;
}

button a,
input[type="submit"]  {
  color: #E1DDC2!important;
}

button a:hover{
  text-decoration: none;
}

input[type="submit"] {
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-align: center;
    text-decoration: none;
    border-radius: var(--button-border-radius);
    border: none;
    height: var(--button-height);
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: calc(var(--component-spacing) * .5) calc(var(--component-spacing) * .75);
    -webkit-box-shadow: var(--button-box-shadow);
    box-shadow: var(--button-box-shadow);
    cursor: pointer;
    display: inline-block;
    -webkit-transition: box-shadow .1s,background-color .1s,color .1s;
    transition: box-shadow .1s,background-color .1s,color .1s;
    padding: 10px 20px;
    border-radius: 5px;
}

.home-style a {
  background-color: #45443C!important;
  color: #E1DDC2!important;
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
  padding: .5em;
  text-transform: uppercase;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  font-weight: 200;
}

.home-style a:hover{
  background-color: #E1DDC2!important;
  color: #45443C!important;
  text-decoration: none;
}

.home-style {
  background-color: #E6AB30;
  padding: 10% 10%;
}

.home-style p {
  font-size: 1.25em;
  line-height: 2em;
  font-weight: 300;
}

.head-line {
    width: 30%;
    border: 5px solid #45443C;
    margin: 1em 0 3em 0px;
}

.project-home img{
  grid-area: sidebar;
}

.all-project-wrap {
  text-align: center;
  background-color: #45443C;
  margin: 0 0 20px 0;
  display: inline-block;
}


.all-project-wrap:after{
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

.all-project-description {
  padding: 10px;
  color: #E1DDC2;
}

ul.all-project-wrap-group {
  padding: 0;
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  margin: 2em 0 0 0;
  display: block;
}

.social-icons {
    float: right;
    padding: 2em 0;
    margin: 0 -20px 0px 0px;
}

input.input-lg {
  margin: 10px 0;
  padding: 20px 10px;
}

textarea {
  margin: 10px 0;
  padding: 10px 0px 30px 10px;
}

/* Desktop Only */
@media (min-width: 60rem) {
  h1 {
    font-size: 4.5em;
  }

  .home-style p {
    font-size: 1.5em;
  }

  ul.all-project-wrap-group {
    display: -webkit-flex;
    display: flex;
  }

  .all-project-description {
    padding: 20px 0 0 0;
  }

  .all-project-wrap {
    margin: 0 10px;
  }

  .all-project-wrap p {
    font-size: 1em;
    font-weight: 200;
  }

  .project-wrap {
    text-align: left;
  }

  .project-wrap img,
  .project-wrap div {
    float: left;
    width: 45%;
    margin: 0 10px;
  }

  form {
    width: 45%!important;
    float: right;
  }

  .contact-description {
    width: 45%;
    float:left;
    margin: 0;
  }
  .about-me img {
    float: right;
    width: 45%;
    margin: 0 0 0 20px;
  }


  #wrap {
    display: block;
  }
}
