*, *:before, *:after {
  box-sizing: border-box;
}

.display-none {
  display: none;
}
/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.5em;
}

h2 {
  font-weight: 700;
}

.head-line {
    width: 30%;
    border: 5px solid #000;
    margin: 1em 0 3em 0px;
}

.project-home img{
  grid-area: sidebar;
}

.all-project-wrap {
  text-align: center;
  background-color: #333;
  margin: 0 0 20px 0;
  display: inline-block;
}

.all-project-wrap:after{
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

.all-project-description {
  padding: 10px;
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  margin: 2em 0 0 0;
  display: block;
}

input.input-lg {
  margin: 10px 0;
  padding: 20px 10px;
}

textarea {
  margin: 10px 0;
}

@media (min-width: 60rem) {
  .all-project-wrap-group {
    display: -webkit-flex;
    display: flex;
  }

  .all-project-description {
    padding: 10px;
  }

  .all-project-wrap {
    margin: 0 10px;
  }

  .all-project-wrap p {
    font-size: .75em;
  }

  .project-wrap {
    text-align: left;
  }

  .project-wrap img,
  .project-wrap div {
    float: left;
    width: 45%;
    margin: 0 10px;
  }

  form {
    width: 45%!important;
    float: right;
  }

  .contact-description {
    width: 45%;
    float:left;
    margin: 0;
  }

  #wrap {
    display: block;
  }
}
